<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="RedisServer" value="localhost" />
  </appSettings>
  <connectionStrings>
    <add name="BOLService.Properties.Settings.DemoDVDConnectionString" connectionString="Data Source=52.77.65.216\SQL;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=chum;Password=taolachum" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>