<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <add name="BOLService.Properties.Settings.DemoDVDConnectionString"
          connectionString="Data Source=ec2-54-169-3-65.ap-southeast-1.compute.amazonaws.com\SQL;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=chum;Password=taolachum"
          providerName="System.Data.SqlClient" />
    <!--<add name="BOLService.Properties.Settings.DemoDVDConnectionString"
            connectionString="Data Source=54.244.245.106;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=linkit_user;Password=uuiikkjj98$10"
            providerName="System.Data.SqlClient" />-->

    <!--<add name="BOLService.Properties.Settings.DemoDVDConnectionString"
                connectionString="Data Source=tungtran-pc;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=sa;Password=sa"
                providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>