@{
    ViewBag.Title = "My Clip";
}
@{
    Layout = null;
}

<div>
    <iframe width="853" height="480" src="//www.youtube.com/embed/1VlEeQIVDaA" frameborder="0" allowfullscreen></iframe>
</div>
    

