<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="BOLService.Properties.Settings.DemoDVDConnectionString"
            connectionString="Data Source=54.244.245.106;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=linkit_user;Password=uuiikkjj98$10"
            providerName="System.Data.SqlClient" />-->

    <add name="BOLService.Properties.Settings.DemoDVDConnectionString"
                connectionString="Data Source=MAYNHA;Initial Catalog=DemoDVD;Persist Security Info=True;User ID=sa;Password=Tung@123456"
                providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>